USE [QLBanCafe_Nhom04_N04]
GO
/****** Object:  Table [dbo].[tbAdmin]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAdmin](
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCuaHang]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCuaHang](
	[MaCuaHang] [nvarchar](3) NOT NULL,
	[TenCuaHang] [nvarchar](255) NOT NULL,
	[SoDienThoai] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Fanpage] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCuaHangBanSP]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCuaHangBanSP](
	[MaCuaHang] [nvarchar](3) NOT NULL,
	[MaSanPham] [nvarchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCuaHangTinTuc]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCuaHangTinTuc](
	[MaCuaHang] [nvarchar](3) NOT NULL,
	[MaTinTuc] [nvarchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC,
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietHDB]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHDB](
	[MaHoaDonBan] [nvarchar](14) NOT NULL,
	[MaSanPham] [nvarchar](4) NOT NULL,
	[MaKichThuoc] [nchar](1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiamGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBan] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietHDN]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietHDN](
	[MaHoaDonNhap] [nvarchar](14) NOT NULL,
	[MaVatTu] [nvarchar](4) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[GiaNhap] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC,
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietToppingHDB]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietToppingHDB](
	[MaHoaDonBan] [nvarchar](14) NOT NULL,
	[MaSanPham] [nvarchar](4) NOT NULL,
	[MaTopping] [nvarchar](2) NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTopping] ASC,
	[MaHoaDonBan] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonBan]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonBan](
	[MaHoaDonBan] [nvarchar](14) NOT NULL,
	[MaKhachHang] [nvarchar](6) NOT NULL,
	[NgayBan] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDonNhap]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDonNhap](
	[MaHoaDonNhap] [nvarchar](14) NOT NULL,
	[MaNhaCungCap] [nvarchar](2) NOT NULL,
	[NgayLap] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKichThuoc]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKichThuoc](
	[MaKichThuoc] [nchar](1) NOT NULL,
	[GiaThem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKichThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhachHang]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhachHang](
	[MaKhachHang] [nvarchar](6) NOT NULL,
	[TenKhachHang] [nvarchar](55) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Diem] [int] NOT NULL,
	[Hang] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhoVatTuCH]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhoVatTuCH](
	[MaCuaHang] [nvarchar](3) NOT NULL,
	[MaVatTu] [nvarchar](4) NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC,
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhaCungCap]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhaCungCap](
	[MaNhaCungCap] [nvarchar](2) NOT NULL,
	[TenNhaCungCap] [nvarchar](256) NOT NULL,
	[SoDienThoai] [nvarchar](10) NULL,
	[Email] [nvarchar](256) NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbNhomSanPham]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbNhomSanPham](
	[MaNhomSP] [nvarchar](2) NOT NULL,
	[TenNhomSP] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSanPham]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSanPham](
	[MaSanPham] [nvarchar](4) NOT NULL,
	[TenSanPham] [nvarchar](256) NOT NULL,
	[GiaBan] [money] NULL,
	[MaNhomSP] [nvarchar](2) NOT NULL,
	[Calo] [decimal](4, 2) NULL,
	[TongChatBeo] [decimal](4, 2) NULL,
	[ChatBeoBaoHoa] [decimal](4, 2) NULL,
	[Cholesterol] [decimal](4, 2) NULL,
	[Natri] [decimal](4, 2) NULL,
	[TongCarbohydrate] [decimal](4, 2) NULL,
	[Duong] [decimal](4, 2) NULL,
	[Protein] [decimal](4, 2) NULL,
	[ThanhPhan] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTinTuc]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTinTuc](
	[MaTinTuc] [nvarchar](8) NOT NULL,
	[TieuDe] [nvarchar](256) NOT NULL,
	[NgayDang] [date] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTopping]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTopping](
	[MaTopping] [nvarchar](2) NOT NULL,
	[TenTopping] [nvarchar](256) NOT NULL,
	[GiaBan] [int] NOT NULL,
	[Anh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbVatTu]    Script Date: 17/04/2023 22:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbVatTu](
	[MaVatTu] [nvarchar](4) NOT NULL,
	[TenVatTu] [nvarchar](255) NOT NULL,
	[DonViTinh] [nvarchar](5) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVatTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tbAdmin] ([Username], [Password]) VALUES (N'admin', N'admin')
GO
INSERT [dbo].[tbCuaHang] ([MaCuaHang], [TenCuaHang], [SoDienThoai], [Email], [DiaChi], [Fanpage]) VALUES (N'101', N'The Coffee Space Hồ Tùng Mậu
', N'0980094164', N'0101@thecoffeespace.com
', N'Hồ Tùng Mậu - Mai Dịch - Cầu Giấy - Hà Nội
', N'facebook.com/TheCoffeeSpaceHoTungMau
')
INSERT [dbo].[tbCuaHang] ([MaCuaHang], [TenCuaHang], [SoDienThoai], [Email], [DiaChi], [Fanpage]) VALUES (N'102', N'The Coffee Space Phạm Văn Đồng
', N'0929433365', N'0102@thecoffeespace.com
', N'Phạm Văn Đồng - Cổ Nhuế 1 - Bắc Từ Liêm - Hà Nội
', N'facebook.com/TheCoffeeSpacePhamVanDong
')
INSERT [dbo].[tbCuaHang] ([MaCuaHang], [TenCuaHang], [SoDienThoai], [Email], [DiaChi], [Fanpage]) VALUES (N'103', N'The Coffee Space TTTM Aeon Mall Long Biên
', N'0965140821', N'0103@thecoffeespace.com
', N'TTTM Aeon Mall Long Biên - Long Biên - Hà Nội
', N'facebook.com/TheCoffeeSpaceTTTMAeonMallLongBien
')
GO
INSERT [dbo].[tbCuaHangBanSP] ([MaCuaHang], [MaSanPham]) VALUES (N'101', N'CF01')
INSERT [dbo].[tbCuaHangBanSP] ([MaCuaHang], [MaSanPham]) VALUES (N'101', N'CF02')
INSERT [dbo].[tbCuaHangBanSP] ([MaCuaHang], [MaSanPham]) VALUES (N'101', N'CF03')
GO
INSERT [dbo].[tbChiTietHDB] ([MaHoaDonBan], [MaSanPham], [MaKichThuoc], [SoLuong], [GiamGia]) VALUES (N'10121803230001', N'CF01', N'S', 1, 0)
GO
INSERT [dbo].[tbChiTietHDN] ([MaHoaDonNhap], [MaVatTu], [SoLuongNhap], [GiaNhap]) VALUES (N'10111703230001', N'0101', 50, 50000)
GO
INSERT [dbo].[tbChiTietToppingHDB] ([MaHoaDonBan], [MaSanPham], [MaTopping], [SoLuong]) VALUES (N'10121803230001', N'CF01', N'01', 1)
GO
INSERT [dbo].[tbHoaDonBan] ([MaHoaDonBan], [MaKhachHang], [NgayBan]) VALUES (N'10121803230001', N'000001', CAST(N'2023-03-18' AS Date))
GO
INSERT [dbo].[tbHoaDonNhap] ([MaHoaDonNhap], [MaNhaCungCap], [NgayLap]) VALUES (N'10111703230001', N'01', CAST(N'2023-03-17' AS Date))
INSERT [dbo].[tbHoaDonNhap] ([MaHoaDonNhap], [MaNhaCungCap], [NgayLap]) VALUES (N'10211703230001', N'02', CAST(N'2023-03-17' AS Date))
GO
INSERT [dbo].[tbKichThuoc] ([MaKichThuoc], [GiaThem]) VALUES (N'L', 20)
INSERT [dbo].[tbKichThuoc] ([MaKichThuoc], [GiaThem]) VALUES (N'M', 10)
INSERT [dbo].[tbKichThuoc] ([MaKichThuoc], [GiaThem]) VALUES (N'S', 0)
GO
INSERT [dbo].[tbKhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem], [Hang]) VALUES (N'000001', N'Nguyễn Dương Anh', N'379806581', N'Hà Nội', 4995, N'Special')
INSERT [dbo].[tbKhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem], [Hang]) VALUES (N'000002', N'Phạm Việt Anh', N'836233272', N'Cầu Giấy - Hà Nội', 4889, N'Special')
INSERT [dbo].[tbKhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiaChi], [Diem], [Hang]) VALUES (N'000003', N'Vũ Hoàng Anh', N'795447293', N'Trần Phú - Hà Đông - Hà Nội', 2660, N'Special')
GO
INSERT [dbo].[tbKhoVatTuCH] ([MaCuaHang], [MaVatTu], [SoLuong]) VALUES (N'101', N'0101', 100)
INSERT [dbo].[tbKhoVatTuCH] ([MaCuaHang], [MaVatTu], [SoLuong]) VALUES (N'101', N'0102', 100)
INSERT [dbo].[tbKhoVatTuCH] ([MaCuaHang], [MaVatTu], [SoLuong]) VALUES (N'101', N'0103', 100)
GO
INSERT [dbo].[tbNhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [Email], [DiaChi]) VALUES (N'01', N'Công Ty TNHH Sữa Bột Hưng Yên
', N'0382226394', N'hungyenmilkpow@gmail.com
', N'Hưng Yên
')
INSERT [dbo].[tbNhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [Email], [DiaChi]) VALUES (N'02', N'Công Ty Cổ Phần VietFood
', N'0334756927', N'Vietfoodcompany@vietfood.com.vn
', N'Hải Dương
')
INSERT [dbo].[tbNhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [Email], [DiaChi]) VALUES (N'03', N'Công Ty TNHH Bao Bì Sơn Nhất
', N'0868224150', N'Sonnhat@gmail.com
', N'Nam Định
')
GO
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'CF', N'Cà phê')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'KH', N'Các loại đồ uống khác')
INSERT [dbo].[tbNhomSanPham] ([MaNhomSP], [TenNhomSP]) VALUES (N'NE', N'Nước ép/Sinh tố')
GO
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MaNhomSP], [Calo], [TongChatBeo], [ChatBeoBaoHoa], [Cholesterol], [Natri], [TongCarbohydrate], [Duong], [Protein], [ThanhPhan], [MoTa], [HinhAnh], [GhiChu]) VALUES (N'CF01', N'Cà phê sữa đá', 39000.0000, N'CF', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ca-phe-sua-da.jpeg', NULL)
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MaNhomSP], [Calo], [TongChatBeo], [ChatBeoBaoHoa], [Cholesterol], [Natri], [TongCarbohydrate], [Duong], [Protein], [ThanhPhan], [MoTa], [HinhAnh], [GhiChu]) VALUES (N'CF02', N'Cà phê sữa nóng', 39000.0000, N'CF', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ca-phe-sua-nong.jpeg', NULL)
INSERT [dbo].[tbSanPham] ([MaSanPham], [TenSanPham], [GiaBan], [MaNhomSP], [Calo], [TongChatBeo], [ChatBeoBaoHoa], [Cholesterol], [Natri], [TongCarbohydrate], [Duong], [Protein], [ThanhPhan], [MoTa], [HinhAnh], [GhiChu]) VALUES (N'CF03', N'Bạc xỉu đá', 29000.0000, N'CF', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'bac-xiu-da.jpeg', NULL)
GO
INSERT [dbo].[tbTopping] ([MaTopping], [TenTopping], [GiaBan], [Anh]) VALUES (N'01', N'Kem phô mai Macchiato', 10000, NULL)
INSERT [dbo].[tbTopping] ([MaTopping], [TenTopping], [GiaBan], [Anh]) VALUES (N'02', N'Trân châu trắng', 10000, NULL)
INSERT [dbo].[tbTopping] ([MaTopping], [TenTopping], [GiaBan], [Anh]) VALUES (N'03', N'Sốt Caramel', 10000, NULL)
GO
INSERT [dbo].[tbVatTu] ([MaVatTu], [TenVatTu], [DonViTinh], [GhiChu]) VALUES (N'0101', N'Cốc', N'Chiếc', NULL)
INSERT [dbo].[tbVatTu] ([MaVatTu], [TenVatTu], [DonViTinh], [GhiChu]) VALUES (N'0102', N'Thìa', N'Chiếc', NULL)
INSERT [dbo].[tbVatTu] ([MaVatTu], [TenVatTu], [DonViTinh], [GhiChu]) VALUES (N'0103', N'Túi ni lông', N'Cái', NULL)
GO
ALTER TABLE [dbo].[tbCuaHangBanSP]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[tbCuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[tbCuaHangBanSP]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbCuaHangTinTuc]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[tbCuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[tbCuaHangTinTuc]  WITH CHECK ADD FOREIGN KEY([MaTinTuc])
REFERENCES [dbo].[tbTinTuc] ([MaTinTuc])
GO
ALTER TABLE [dbo].[tbChiTietHDB]  WITH CHECK ADD FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[tbHoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[tbChiTietHDB]  WITH CHECK ADD FOREIGN KEY([MaKichThuoc])
REFERENCES [dbo].[tbKichThuoc] ([MaKichThuoc])
GO
ALTER TABLE [dbo].[tbChiTietHDB]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tbSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbChiTietHDN]  WITH CHECK ADD FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[tbHoaDonNhap] ([MaHoaDonNhap])
GO
ALTER TABLE [dbo].[tbChiTietHDN]  WITH CHECK ADD FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[tbVatTu] ([MaVatTu])
GO
ALTER TABLE [dbo].[tbChiTietToppingHDB]  WITH CHECK ADD FOREIGN KEY([MaTopping])
REFERENCES [dbo].[tbTopping] ([MaTopping])
GO
ALTER TABLE [dbo].[tbChiTietToppingHDB]  WITH CHECK ADD FOREIGN KEY([MaHoaDonBan], [MaSanPham])
REFERENCES [dbo].[tbChiTietHDB] ([MaHoaDonBan], [MaSanPham])
GO
ALTER TABLE [dbo].[tbHoaDonBan]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tbKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tbHoaDonNhap]  WITH CHECK ADD FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[tbNhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[tbKhoVatTuCH]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[tbCuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[tbKhoVatTuCH]  WITH CHECK ADD FOREIGN KEY([MaVatTu])
REFERENCES [dbo].[tbVatTu] ([MaVatTu])
GO
ALTER TABLE [dbo].[tbSanPham]  WITH CHECK ADD FOREIGN KEY([MaNhomSP])
REFERENCES [dbo].[tbNhomSanPham] ([MaNhomSP])
GO
