
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_LayoutDripcafe.cshtml";
}

<section class="services">
    <div class="pic-area">
        <div class="pic-area-text">
            <h2>Hãy xem chúng tôi</h2>
            <h1 class="home__name">Dịch vụ tuyệt vời!</h1>
            <h3>Trở thành ngôi nhà thứ hai của bạn.</h3>
        </div>
    </div>

    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-text">
                    <h1>Giải trí</h1>
                    <p>
                        Bạn cần một cái gì đó để đọc? Hãy kiểm tra giá sách của chúng tôi. Chúng tôi sẽ cung cấp miễn phí hàng ngày những tờ báo cho bạn vào bất cứ lúc nào. TV của chúng tôi luôn hoạt động cả ngày. Các sự kiện hàng ngày luôn diễn ra từ karaoke đến các buổi hòa nhạc từ các ban nhạc địa phương của chúng tôi!
                    </p>
                </div>

                <div class="box-img">
                    <img src="../img/entertainment.jpg" alt="Giải trí" />
                </div>
            </div>
        </div>

        <div class="section-area">
            <div class="section-B">
                <div class="box-text">
                    <h1>Bãi đỗ xe</h1>
                    <p>
                        Chúng tôi cho phép bất kỳ khách hàng nào đỗ xe 24/7 trong khu vực của chúng tôi miễn là bạn là một khách hàng đã đăng ký trên danh sách email của chúng tôi. Tuy nhiên chúng tôi ưu tiên phục vụ trước nên bạn phải nhanh chóng nếu không sẽ có người khác có thể giữ vị trí của bạn!
                    </p>
                </div>

                <div class="box-img">
                    <img src="../img/parking.jpg" alt="Bãi đỗ xe" />
                </div>
            </div>
        </div>

        <div class="section-area">
            <div class="section-C">
                <div class="box-text">
                    <h1>Địa điểm tổ chức tiệc</h1>
                    <p>
                        Chúng tôi có thể tổ chức bất kỳ bữa tiệc nào cho bạn hoặc những người thân yêu của bạn! Chúng tôi cung cấp thực đớn từ bánh rán đến bánh sinh nhật. Chúng tôi cũng có thể cung cấp âm nhạc, trò chơi, và nhiều hơn nữa!
                    </p>
                </div>

                <div class="box-img">
                    <img src="../img/venue.jpg" alt="Tiệc" />
                </div>
            </div>
        </div>
    </div>
</section>
